



#test {
    display: block;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.page {
    height: 100%;
    min-height: 100%;
    width: 87.5%;
    min-width: 87.5%;
    background: white;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;

}
.yellow {
    background: yellow;
}
.blue {
    background: blue;
}
* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}


.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel-1 {
    background: #ab1d8f;
    color: #fff;
    overflow: hidden;
}
.panel-1 a {
    color: inherit;
}

.content {
    max-width: 300px;
}

.fullscreen {
    height: 100%;
    min-height: 100%;
    width: 100%;

    min-width: 100%;
}

.hidden {
    display: none;
    margin: 50%;

}
.ontop {
    /*display: block;*/
}


/*all pages styles*/

.page {
    padding: 5% 5% 5%;
}

/*nav*/
#nav_button {
    display: none;
    z-index: 4;
}
nav {
    text-align: center;
}
nav a.active {
    background: rgba(0,0,0,.2);
    border-radius: 15px;
    /*!~!!!!!NOTE!!!!!~~! if values changed must be changed in js where tmp nav is created!!!!!!*/
}

/*page 2 with resume styling, less specific in this case*/
.pg_2 {
    padding: 0;
}
.pg_2 iframe {
    height: 100%;
    width: 100%;
}
@media (max-width: 850px) {
    .page {
        width: 100%;
        padding-top: 70px;
        min-width: 100%;
        left: 0;
    }
    .panel-1 {
        margin-left: -100%;
    }
    #nav_button {
        display: block;
        position: fixed;
        width: 40px;
        height: 40px;
        top: 10px;
        left: 20px;

    }
    #nav_button p {
        background: black;
        margin: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        /*margin-top: 1%;*/
        padding: 0;
        height: 5px;
    }
    #nav_button {
        opacity: .2;
    }


}
/*home*/

.pg_1 {
    background: url("../pictures/IMG_0227.JPG");
    background-size: cover;
    padding: 0;
}
.pg_1 .hug_bottom_textbox {
    position: absolute;
    bottom: 5%;
    width: 100%;
    /*background: yellow;*/
}
.pg_1 h1 {
    font-size: 4em;
}
.pg_1 h1,.pg_1 h3 {
    text-align: center;
    color: white;
}
.pg_1 span {
    font-weight: bolder;
}
/*resume*/
.pg_2 iframe {
    /*max-width: 1000px;*/
}

/*contact page*/
.pg_3 > .container {
    background: rgba(0,0,0,.1);
}
.content_box_light_gray {
    background: rgba(255,255,255,.3);
    margin-top: 2%;
    padding: 2%;
}
#contact_page > .container > .___row___ > .___col___:last-child h1 {
    text-align: center;
    font-size: 200%;
    font-weight: 900;
}
#contact_page > .container > .___row___ > .___col___:last-child div h4 {
    margin-bottom: 1%;
}
#contact_page > .container > .___row___ > .___col___ h4 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 2%;
    font-size: 125%;
}
#contact_page > .container > .___row___ > .___col___:first-child .content_box_light_gray > .container > .___row___ div:nth-child(2n+1) {
    flex-grow: .1 !important; display: flex;align-items: center;margin-right: 1%
}
#contact_page > .container > .___row___ > .___col___:first-child .container > .___row___ > .___col___ > label {
    display: inline;
    padding: 0;
    color: blue;
}
#contact_page > .container > .___row___ > .___col___ .content_box_light_gray > .container > .___row___ > .___col___ {
    padding: 0;
    /*background: blue;*/
}
#contact_page > .container > .___row___ > .___col___ .content_box_light_gray > .container > .___row___ > .___col___:nth-child(2) {
    padding-right: 5%;
    /*background: blue;*/
}
.content_box_light_gray {
    background: rgba(255,255,255,.3);
    margin-top: 2%;
    padding: 2%;
}
#contact_page > .container {
    /*height: 85%;*/
    width: 100%;
    max-width: 9999px;
}
#contact_page > .container > .___row___ {
    /*height: 100%;*/
    /*background: black;*/
}
#contact_page > .container > .___row___ > .___col___:first-child {
    border-right: 1px solid yellow;
    flex-grow: 2;
}
#contact_page > .container > .___row___ > .___col___:last-child {
    /*border: 1px solid yellow;*/
}

h5 {
    display: block;
    margin: 0 auto;
}

/*external link page*/

.pg_-3 iframe {
    height: 100%;
    width: 100%;
}
.pg_-3 {
    border: solid 10px green;
    padding: 1px;
    overflow: hidden;
}

/*testing*/






/*#nav_header {*/
    /*height: 10%;*/
    /*padding: 0;*/
    /*!*background: black;*!*/
/*}*/
/*.grid {*/
    /*height: 90%;*/
/*}*/
/*#nav_button {*/
    /*position: static;*/
    /*height: 100%;*/
    /*width: 13%;*/
    /*padding: 5% 0 0 5%;*/
/*}*/

/*#nav_button p {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*margin-top: 25%;*/
    /*margin-left: 18%;*/
    /*margin-bottom: 25%;*/
    /*height: 8%;*/
/*}*/
/*#nav_button p:first-child {*/
    /*background: black;*/

    /*margin-top: 0%;*/

    /*!*margin-top: 1%;*!*/
    /*padding: 0;*/

/*}*/
/*#nav_button p:last-child {*/
    /*background: red;*/
    /*margin-bottom: 0;*/
/*}*/
